<a href="https://colab.research.google.com/github/19011508-033/19011508-033/blob/main/19011508_033_program_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi= 3.14
r = float(input ("input the radius of the circle:"))
area= pi*r*r
print("the area of the circle with radius " +str(r) + "is:%.2f"%area)

input the radius of the circle: 4
the area of the circle with radius 4.0is:50.24

In [ ]:
def test_distinct(data):
  if len(data) == len(set(data)):
    return True
  else:
    return False;
print(test_distinct([1,2,3,8]))
print(test_distinct([2,4,3,3,9,1]))

True
False

In [ ]:
def remove_nums(int_list):
  #list starts with 0 index
  position = 3 - 1 
  idx = 0
  len_list = (len(int_list))
  while len_list>0:
    idx = (position+idx)%len_list
    print(int_list.pop(idx))
    len_list -= 1
nums = [23,20,21,30,40,50,70,80,90]
remove_nums(nums)

21
50
90
30
80
40
20
70
23

In [ ]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List1 : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 2,5,7,8
List1 :  ['2', '5', '7', '8']
Tuple :  ('2', '5', '7', '8')